
@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<div class="row collapse pt-3 ml-3" id="CategoryCreate">
    <div class="col">
        <div class="card card-body">
            <div>@Html.Partial("_CategoryCreate")</div>
        </div>
    </div>
</div>