@model UsluzniObrt.MVC.ViewModels.OrdersViewModel
@{
    ViewBag.Title = "MyOrder";
}

<body>
    @foreach (var item in Model.OrderItem)
    {
        @item.MenuItem.Name
        @item.Quantity

    }
</body>

