@model UsluzniObrt.MVC.ViewModels.OrdersViewModel

<body>
    <div class="container m">
        @foreach (var item in ViewBag.TableList)
        {
            <div class="row">
                <div class="col border-dark">
                        @item.TableId
                </div>
            </div>
        }

    </div>
</body>
